.app-box {
    border: 1px solid #a5a5a5;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #f5f5f5;
}

.app-box-title {
    border: 1px solid #3973ac;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 4px #858585;
    background-color: #6699CC;
    color: white;
    padding: 2px 0;
}

.bg-light {
    background-color: #2c5a86 !important;
    box-shadow: 3px 3px 4px #757575;
}

.bg-light a {
    color: white !important;
}

.nav-item {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
}

.nav-item.active,
.nav-item:hover {
    background-color: #204060 !important;
    border-radius: 3px;
}